@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$break-small: 576px;
$break-med: 768px;
$break-lg: 992px;
$break-xlg: 1200px;

* {
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	background-color: #aaa;
	font-family: Roboto, sans-serif;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.weatherCards {
		width: 90%;
		border: 1px solid #888;
		border-radius: 5px;
		display: flex;
		flex-direction: column;

		@media screen and (max-width: 768px) {
			height: 100%;
		}

		.titleContainer {
			display: flex;
			justify-content: center;
			flex-direction: column;
			background-color: #444;
			color: #eee;

			.weatherForm {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				align-items: center;
				margin-bottom: 5px;

				.locationForm {
					width: 80%;

					.locationInput {
						width: 80%;
						margin-left: 10px;
					}
				}
			}

			.locationTitle {
				display: flex;
				justify-content: center;
				margin: 5px auto;
			}
		}

		.cardContainer {
			min-width: 90%;
			height: 500px;
			display: flex;
			flex-direction: row;
			align-items: center;
			border: 1px solid #888;
			border-radius: 5px;
			background-color: #eee;
			padding: 5px;

			@media screen and (max-width: 768px) {
				height: 100%;
				flex-direction: column;
				overflow: auto;
			}

			.dayCardContainer {
				width: 33%;
				height: 100%;
				border-radius: 10px;
				margin: 5px;
				padding: 5px 10px;
				display: flex;
				flex-direction: column;
				background-color: #555;
				color: #fff;

				@media screen and (max-width: 768px) {
					width: 100%;
					align-items: center;
				}

				p {
					margin: 5px 0 5px 0;
				}

				.dayText {
					font-weight: bold;
					font-size: 1.5rem;
				}
				.dateText {
					font-weight: bold;
					font-size: 0.8rem;
				}

				.weatherIcons {
					display: flex;
					justify-content: center;
					margin-top: 15px;
					margin-bottom: 15px;
				}

				.forecastSummary {
					height: 50px;
				}

				.tempText {
					color: #ccc;
				}

				.highTemp {
					font-size: 2rem;
					color: #fff;
				}
			}
		}
	}
}

// @media screen and (max-width: 768px) {
// 	.cardContainer {
// 		height: 100%;
// 		flex-direction: column;

// 		.dayCardContainer {
// 			width: 100%;
// 			align-items: center;
// 		}
// 	}
// }
